#grid {
    position: absolute;
    border: 1px solid black;
}

.brick {
    position: absolute;
    background-color: red;
}

.user_tile {
    position: absolute;
    background-color: purple;
}

.ball {
    position: absolute;
    border-radius: 100%;
    background-color: goldenrod;
}